<script>
    function searchScript(event) {
        event.preventDefault();
        console.log("SEARCH SCRIPT");        
        var searchValue = document.getElementById('lunrsearch').value;    
        const myModalAlternative = new bootstrap.Modal('#searchModal1', {});
        console.log("MODAL", myModalAlternative);        
        lunr_search(document.getElementById('lunrsearch').value, event);
        myModalAlternative.show();
    }
</script>

<form 
    class="d-flex"
    role="search" 
    onSubmit="searchScript(event)">
    <input id="lunrsearch" 
        type="search" 
        class="form-control me-2" 
        name="value" 
        maxlength="255" 
        value="" 
        placeholder="Search" />
    <button class="btn btn-outline-success"
        data-bs-toggle="mo dal"
        data-bs-target="#se archModal1"
        type="submit">
            Search
    </button>
</form>