---
layout: blog
---
<h2>{{ page.issue }}</h2>

{% if page.articles %}
    {% for article in page.articles %}    
        <h5>{{ article.title }}</h5>
        <p>{{ article.author }}</p>
        {% if article.abstract %}
            <p><strong>Abstract:</strong></p>
            <p>{{ article.abstract }}</p>
        {% elsif article.book %}
            <p><strong>Book:</strong></p>
            <p>{{ article.book }}</p>
        {% else %}
            <!-- nothing -->
        {% endif %}

        {% if article.url %}
            <p><a href="{{ article.url }}" target="_blank" onclick="_gaq.push(['_trackEvent','Download','PDF', '{{article.url}}']);">View Article</a></p>    
        {% endif %}        
    {% endfor %}
{% endif %}

{{ content }}
